<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Disklinikyonetimi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="anasayfa">Ana Sayfa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="doktorlar">DOKTORLAR</a>
                        </li>
                       
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link text-dark dropdown-toggle " data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="islemler">ISLEMLER</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >Çocuk Diş Tedavisi</a>
                                    <a class="dropdown-item" >Diş Dolgusu</a>
                                    <a class="dropdown-item" >Diş Çekimi</a>
                                    <a class="dropdown-item" >Diş Bakımı</a>
                                    <a class="dropdown-item" >Diş Eti Tedavileri(Periodontoloji)</a>
                                    <a class="dropdown-item" >Diş Gıcırdatma</a>
                                    <a class="dropdown-item" >Kanal Tedavisi(Endodonti)</a>
                                    <a class="dropdown-item" >Diş Çapraşıklığı</a>
                                    <a class="dropdown-item" >Gömülü Dişler</a>
                                    <a class="dropdown-item" >Diş Eksikliği</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="hakkimizda">HAKKIMIZDA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="iletisim">İLETİŞİM</a>
                        </li>
                        
                    </ul>
                    <div class="offset-6 col-auto">
                        <button type="button" class=" btn btn-success">GİRİŞ</button>
                        <button type="button" class="ml-2 btn btn-success">RANDEVU SORGULAMA</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ESMADENT - <a asp-area="" asp-controller="Home" asp-action="iletisim">İLETİŞİM</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
