@{
    ViewData["Title"] = "Esma Dent";
}

<div class="page-content">
                            <div class="row">
                                <div class="vc_column_container vc_col-sm-6">
                                    <div class="wpb_wrapper vc_column-inner">
                                        <h2 style="text-align: left; font-family: Titillium Web; font-weight: 400; font-style: normal; background-color: LightGray;" class="vc_custom_heading vc_custom_1567676831955">Neden Esmadent ?</h2><div class="aio-icon-component    style_1">
                                            <div id="Info-box-wrap-3930" class="aio-icon-box left-icon" style="">
                                                <div class="aio-ibd-block">
                                                    <div class="aio-icon-header">
                                                        <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-3930 .aio-icon-title' data-responsive-json-new='{"font-size":"","line-height":""}' style="">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-hearts" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z" />
                                                            </svg>
                                                            Uzman Kadro
                                                        </h3>
                                                    </div>
                                                    <div class="aio-icon-description ult-responsive" data-ultimate-target='#Info-box-wrap-3930 .aio-icon-description' data-responsive-json-new='{"font-size":"","line-height":""}' style="">

                                                        <p style="color: #252525;">
                                                            Esmadent'te alanında uzman ve deneyimli hekimler,<br />
                                                            geniş bir yelpazede hizmet sunmaktadırlar.
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div> <div class="aio-icon-component    style_1">
                                            <div id="Info-box-wrap-3602" class="aio-icon-box left-icon" style="">
                                                <div class="aio-icon-left">
                                                    <div class="ult-just-icon-wrapper  ">
                                                        <div class="align-icon" style="text-align:center;">
                                                            <div class="aio-icon none " style="color:#af0505;font-size:44px;display:inline-block;">
                                                                <i class="Defaults-medkit"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="aio-ibd-block">
                                                    <div class="aio-icon-header">
                                                        <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-3602 .aio-icon-title' data-responsive-json-new='{"font-size":"","line-height":""}' style="">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z" />
                                                            </svg>Kaliteli Malzeme
                                                        </h3>
                                                    </div><div class="aio-icon-description ult-responsive" data-ultimate-target='#Info-box-wrap-3602 .aio-icon-description' data-responsive-json-new='{"font-size":"","line-height":""}' style="">
                                                        Esmadent'te en iyi sağlık hizmeti; üstün bilgi birikimi,<br />
                                                        kaliteli malzeme ve ekipman
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="aio-icon-component    style_1">
                                            <div id="Info-box-wrap-6699" class="aio-icon-box left-icon" style="">
                                                <div class="aio-icon-left">
                                                    <div class="ult-just-icon-wrapper  ">
                                                        <div class="align-icon" style="text-align:center;">
                                                            <div class="aio-icon none " style="color:#af0505;font-size:44px;display:inline-block;">
                                                                <i class="Defaults-hospital-o"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="aio-ibd-block">
                                                    <div class="aio-icon-header">
                                                        <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-6699 .aio-icon-title' data-responsive-json-new='{"font-size":"","line-height":""}' style="">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-hospital" viewBox="0 0 16 16">
                                                                <path d="M8.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1h1ZM13.25 9a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Zm.25 1.75a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5Zm-11-4a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 3 9.75v-.5A.25.25 0 0 0 2.75 9h-.5Zm0 2a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Z" />
                                                                <path d="M5 1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 1 1v4h3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h3V3a1 1 0 0 1 1-1V1Zm2 14h2v-3H7v3Zm3 0h1V3H5v12h1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3Zm0-14H6v1h4V1Zm2 7v7h3V8h-3Zm-8 7V8H1v7h3Z" />
                                                            </svg>Tam Donanımlı Klinik
                                                        </h3>
                                                    </div> <div class="aio-icon-description ult-responsive" data-ultimate-target='#Info-box-wrap-6699 .aio-icon-description' data-responsive-json-new='{"font-size":"","line-height":""}' style="">
                                                        Son teknoloji ve hijyenik  tedavi<br />
                                                        araçları ile sizlere hizmet sunmaktayız.
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <div class="aio-icon-component    style_1">
                                            <div id="Info-box-wrap-6450" class="aio-icon-box left-icon" style="">
                                                <div class="aio-icon-left">
                                                    <div class="ult-just-icon-wrapper  ">
                                                        <div class="align-icon" style="text-align:center;">
                                                            <div class="aio-icon none " style="color:#af0505;font-size:44px;display:inline-block;">
                                                                <i class="Defaults-heart"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="aio-ibd-block">
                                                    <div class="aio-icon-header">
                                                        <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-6450 .aio-icon-title' data-responsive-json-new='{"font-size":"","line-height":""}' style="">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                                                            </svg>Kişiye Özel Hizmet
                                                        </h3>
                                                    </div> <div class="aio-icon-description ult-responsive" data-ultimate-target='#Info-box-wrap-6450 .aio-icon-description' data-responsive-json-new='{"font-size":"","line-height":""}' style="">
                                                        Esmadent'te her hastaya kaliteli zaman ayrılarak,<br />
                                                        sonuç odaklı tedavi yöntemleri uygulanmaktadır.
                                                    </div> <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <img src="https://leventbuda.com/upload/content/content_2018-05-10_14-19-05.jpg" style="max-width: 757px; width: 558px; height: 419px; margin: 50px;"  aria-hidden="false">

                            </div>
                        </div><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RandevuAl">RANDEVU AL</button>
                        <div class="modal fade" id="RandevuAl" tabindex="-1" role="dialog" aria-labelledby="">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <form method="post" action="/home/anasayfa">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>
                                                    İsim Soyisim
                                                </label>
                                                <input type="text" name="isimsoyisim" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                Gün
                                                <input type="datetime-local" name="date" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                Telefon<br>
                                                <input type="tel" name="phone" placeholder="5*********" class="form-control">
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        İşlem Seçiniz
                                                        @Html.DropDownList("İşlemler", new SelectList(ViewBag.islemler , "Value", "Text"), "İşlem Seçiniz", new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        Doktor Seçiniz
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                E-Mail
                                                <input type="email" name="email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                Poliklinik<br />
                                                <input type="text" name="poliklinik" placeholder="Merkez Poliklinik" class="form-control">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                            <button type="submit" class="btn btn-primary">Gönder</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
        