@{
    ViewData["Title"] = "Esma Dent";
}
<style>
    body {
        position: relative;
        height: 100vh;
        width: 100%;
        justify-content: center;
    }
    body::before {
        content: "";
        background-image: url(http://dentizmit.com/wp-content/uploads/2023/01/pexels-cedric-fauntleroy-4269942-1-scaled.jpg);
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.45;
    }
    p{
        font-size:larger;
        font-weight:bold
    }
</style>
<body>
    <div class="row col mr-3">
        <div class="float-left w-50">
            <h1>Misyonumuz</h1>
            <p>Hastalarımızın hak ettiği üst düzey deneyimi sağlamak,<br /> onların hayallerindeki gülümsemeyi olağanüstü tedavi ile gerçekleştirmek.</p>
        </div>

        <div class="float-left w-50">
            <h1>Vizyonumuz</h1>
            <p>Avrupa’da fonksiyonel ve en kaliteli kozmetik diş tedavi hizmeti vermeyi hedefliyoruz.</p>
        </div>
        <div><br />
    <h1 style="text-align:center">Hakkımızda</h1>
    <p>
        Kocaeli izmit’te uzun zamandır faaliyet gösteren Esma Nur Akyıldız öncülüğünde kurulan Esma Dent, ağız ve diş sağlığı alanında hizmet vermektedir.

        ​Periodontoloji, Protetik Diş Tedavisi, Pedodonti, Ortodonti ve Endodonti başta olmak üzere genel diş tedavileri yanında uzmanlık gerektiren tedaviler, branş uzmanı hekimlerimiz tarafından uygulanmaktadır.

        Tecrübeli kadromuz ile güvenilir ekip olma anlayışıyla; hasta memnuniyeti ve kalite ile birlikte ilkelerimizden ödün vermeden ülke ve dünya standartlarına uygun olarak hizmet sunmaktayız.

        Esma Dent Sağlıklı Günler Diler…
    </p>
</div>
    </div>
    
    </body>
    
