@{
    ViewData["Title"] = "Esma Dent";
}
<style>
    li {
        font-size: large;
    }
</style>
<h1 style="text-align:center">Size Nasıl Yardımcı Olabiliriz?</h1>
<br />
<h5><li>Hafta İçi ve Hafta Sonu</li></h5>
<p>(09.00 - 20.00)</p>
<br />
<h5><li>Adres</li></h5>
<p>Fethiye Mah. Burcu Cd. No:50/5 Kocaeli İzmit </p>
<br />
<h5><li>Tel</li></h5>
<p> 0(262) 333 33 33</p>
<br />
<h5><li>Gsm</li></h5>
<p> 0(544) 444 44 44</p>
<br />
<h5><li>E-Mail</li></h5>
<p>info@esmadent.com</p>